:root{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #0A244D;
    color: white;
 display: flex;
    flex-direction: column; 
}

.app {
    padding: 20px;
    min-height: 100vh; /* Ensure it fills the screen height */
}

  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
  
.header h2 {
    font-size: 20px;
}
  
.header input {
    padding: 5x 10px ;
    border-radius: 5px;
    border: none;
}

.search-input{
    background-color: aliceblue;
    height:  30px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
}
.search-icon {
    background-color: aliceblue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }
  
  .search-icon .icon {
    width: 40px;
    height: 40px;
    stroke: #000000; /* Default color for the icon */
    transition: stroke 0.2s ease; /* Smooth color change */
  }
  
  .search-icon:hover .icon {
    stroke: #809fff; /* Icon color on hover */
  }
  
.search{
    display: flex;
    gap: 20px;
justify-content: center;
align-items: center;

}
/* .weather-info {
    background-color: #133A75;
    border-radius: 15px;
    padding: 20px;
} */
  
.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
  
.weather-icon img {
    width: 200px;
    height: 250px;
}
  
.temperature {
    font-size: 36px;
    font-weight: bold;
}
  
.details {
    margin-top: 10px;
}

.big-stats {
    background-color: #0044AB;
    border-radius: 15px;
    padding: 20px;
}  

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px;
}
  
.stat {
    background-color: #1E4B88;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
    max-width: 100px;
}
  
.hourly-weather {
    margin-top: 20px;
    background-color: #133A75;
    border-radius: 15px;
    padding: 20px;
}
  
.hourly-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
.hour-card {
    background-color: #1E4B88;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
}
/* Media Query for screens less than 560px */
@media (max-width: 560px) {
    .header {
      flex-direction: column; 
      text-align: center; 
    }
  
}
  